body{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}

.container{
   height: 100vh;
   width: 100%; 
   background-image: url(media/Fashion.jpeg);
   background-size: cover;
   background-position: center;
   position: relative;
}

.navbar{
    width: 88%;
    margin: auto;
    padding: 5px 0; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 50px;
    cursor: pointer;
    background-color: palevioletred;
       
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a{
    text-decoration: none;
    color:grey;
    font-size: 15px;
}

.content{
    width: 100%;
    position: absolute;
    top: 25%;
    /* align-items: center; */
}

.left-col{
    margin: 5%;
}

#sing{
    font-size: 45px;
    color:whitesmoke;
    line-height: 70px;
    float: left; 
    /* align-items: center; */
    padding-left: 42%;
    padding-bottom: 15%;
    margin-bottom: 0%;
    
    
   
   
}


.right-col{
    float: right;
    margin-right: 5%;
    margin-top: 120px;
    display: flex;
    
}

.right-col p{
    font-size: 19px;
    font-weight: 400;
    margin-right: 15px;
    color:grey;
}

#icon{
    width: 70px;
    cursor: pointer;
}
